[SMTP_EMAIL]
User = john
Password = jdoe123
Email = john@example.com
Server = example.com
Port = 567

[FEEDS]
WebsiteURLs = ./websites.csv
LastNDays = 7

[NEWSLETTER]
IncludeDebugLog = yes

[MISC_SITEMAP]
IgnoreIfInURL = /author/
IgnoreRootURL = yes